pysdd/lib/libsdd*
#pysdd/lib/sdd*
.idea
build
pysdd/sdd.c
pysdd/*.so
.ipynb_checkpoints
examples/output
.python-version
cython_debug
*.swo
*.swp
_build
*.egg-info
.eggs
dist
pysdd/lib/sdd-2.0/*
wm_*
venv*
__pycache__
